// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
.txt-btm{

  margin: 0 auto !important;
  text-align: center !important;
  margin-bottom: 30px !important;
  position: fixed;
  bottom: 7%;
  left: 43%;

}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
.txt-btm{

    left: 65%;
    top: 90%;

}
}
